<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Auth_root.html</title>
  </head>
  <body>
    <div>Nothing to see here!</div>
    <iframe 
      src="https://giphy.com/embed/tWHk9WtvGC4Sc" 
      width="480"
      height="361"
      frameBorder="0"
      class="giphy-embed"
      allowFullScreen>
    </iframe>
    <script type="application/javascript">
      const user_id = '<%= @user_id %>';
      const key = '<%= @storage_key %>';
      localStorage.setItem(key, user_id);
      const auth_url = '<%= @auth_redir_url %>';
      window.setTimeout(() => {
        window.location.href = auth_url;
      }, 3000)
    </script>
  </body>
</html>
